# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Alembic cache
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/